.category{
    margin-bottom: 100px;
}

.category .container {
  margin-bottom: 40px;
}

.browse {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  margin-bottom: 30px;
}
.browse h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.by button {
  padding: 22px 8px;
  margin-bottom: 10px;
  background: #db4444;
  border: 1px solid #db4444;
  border-radius: 4px;
}
.by .row {
  display: flex;
  gap: 8px;
  align-items: center;
}
.by .row h3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #db4444;
}

.browse .categorBtns {
  display: flex;
  align-items: center;
  gap: 10px;
}
.browse .categorBtns button {
  padding: 9px 10px;
  border-radius: 900px;
  border: none;
}

.categoryBox {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.categoryBox .BoxCard {
  width: 10%;
  border: 1px solid gray;
  margin: 0 auto;
  object-fit: contain;
  padding: 10px;
  transition: 0.5s ease-in-out;
}
.categoryBox .BoxCard:hover {
  background-color: #db4444;
  color: white;
}

.categoryBox .BoxCard img {
  width: 50%;
  margin: 0 auto;
  display: block;
  margin-bottom: 10px;
}

.categoryBox .BoxCard h4 {
  text-align: center;
}
