.Wishlistboxs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 100px;
}

.Wishlistbox {
  width: 22%;
  margin-bottom: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.123);
}

.Wishlistbox img {
  width: 80%;
  display: block;
  margin: 0 auto;
  padding: 10px;
}
.likeImg {
  width: 100%;
  background-color: #f5f5f5;
}

.nameLike {
  padding: 10px;
}

.nameLike h4 {
  color: #db4444;
}

.LikeIcon {
  background-color: red;
  position: relative;
  right: 0px;
}
.LikeIcon .trash {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 28px;
  z-index: 999;
  background-color: white;
  padding: 5px;
  border-radius: 50%;
}
