.music .container {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  padding: 20px 30px;
  margin-bottom: 50px;
}
.music .container .musicInfo h4 {
  margin-bottom: 20px;
  color: #00ff66;
}
.music .container .musicInfo h1 {
  width: 70%;
  font-size: 55px;
  margin-bottom: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.musicImg {
  width: 50%;
}

.musicImg img {
  width: 100%;
}

.music .container .btnsMusic {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}
.music .container .btnsMusic button {
  border-radius: 900px;
  padding: 15px 8px;
}

.music .container .musicInfo .buy {
  width: 20%;
  padding: 12px 30px;
  color: white;
  background-color: #00ff66;
  border: none;
  border-radius: 4px;
}
