.h3lorem {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 20px;
  font-size: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.cartline {
  width: 94%;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 8px 20px;
  font-size: 13px;
  box-shadow: 0px 1px 13px 0px #0000000c;

  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-left: 80px;
}
.cartline h4 {
  display: flex;
  align-items: center;
  gap: 5px;
}
.cartline img {
  width: 40px;
}
h4 button {
  display: flex;
  align-items: center;
  gap: 7px;
}

.cartline1 {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 3px 20px;
  font-size: 13px;
  box-shadow: 0px 1px 13px 0px #00000011;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.cartline1 h4 {
  display: flex;
  align-items: center;
  gap: 15px;
}
.cartline1 img {
  width: 40px;
}

.cartline1 h4 {
  margin-right: 10px;
}

.cartline1 button {
  background: transparent;
  padding: 2px 10px;
  border: 1px solid black;
  font-size: 10px;
  cursor: pointer;
}
.wishlistBtns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.wishlistBtns button {
  padding: 10px 20px;
  background: transparent;
  border: 1px solid black;
  border-radius: 4px;
}
.wishlistButtons {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
}
.wishlistButtons button {
  padding: 8px 18px;
  background: transparent;
  border: 1px solid black;
  border-radius: 4px;
}
.wishlistRow {
  display: flex;
  justify-content: space-between;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.wishlistBox {
  width: 25%;
  border: 2px solid black;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.wishlistBox .totals {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  padding: 5px 0px;
  margin-bottom: 10px;
}
.cartTotal {
  margin-bottom: 10px;
}
