.checkOutWrite {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-left: 20px;
  color: gray;
}
.billing {
  margin-bottom: 10px;
  margin-left: 90px;
  color: rgba(0, 0, 0, 0.562);
}

.checkOutDetails {
  width: 85%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.checkOutForms {
  width: 50%;
}
.checkOutForms form {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.checkOutForms form h5 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #18010157;
}

.checkOutForms form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  background-color: #f5f5f5;
  outline: none;
  border: none;
  color: darkblue;
  font-size: 15px;
  border-radius: 4px;
}
.checkSpans {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 13px;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.445);
}

.checkOutInfo {
  width: 35%;
  margin-right: 90px;
}
.checkProduct {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.checkProduct .checkProductImg img {
  width: 40px;
}
.Subtotals {
  margin-bottom: 30px;
}

.subtotal {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  padding: 4px;
  margin-bottom: 20px;
}
.banks {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banks1 {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 58px;
  padding: 10px 0px;
}
.cupons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
}

.cupons .cuponBtn button {
  padding: 10px 30px;
  background: transparent;
  border-radius: 4px;
  color: gray;
  border: 1px solid gray;
  transition: 0.5s ease-in-out;
}
.cupons .cuponBtn button:hover{
    background-color: red;
    color: white;
    border: 1px solid red;
}

.placeBtn button {
  padding: 10px 30px;
  background: transparent;
  color: white;
  background-color: red;
  border: none;
  border-radius: 4px;
}
