.nav .rows {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 20px;
}
.navbar {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.navbar .logo {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
}
.navbar .logo h1 span {
  animation: 2.8s ease-in-out infinite linear;
  animation-name: anim;
  animation-delay: 3s;
}

.navbar .logo h1 {
  display: flex;
  gap: 2px;
}

@keyframes anim {
  0% {
    transform: rotateY(360deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

.navbar ul {
  width: 35%;
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: capitalize;
  font-size: 18px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.navbar ul a {
  text-decoration: none;
  color: darkblue;
  transition: 0.4s ease-in-out;
}

.navbar ul a:hover {
  background-color: red;
  padding: 2px 8px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  color: white;
  transform-style: preserve-3d;
  text-decoration: line-through;
}

.navbar .icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  font-size: 23px;
}

.navbar form {
  width:20%;
  margin-right: 30px;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 7px 12px;
  border-radius: 6px;
}

.navbar form input {
  width: 100%;
  outline: none;
  border: none;
  font-size: 15px;
}
