.hero .container {
  width: 100%;
  height: 500px;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.hero .container .writes {
  margin-left: 22px;
  display: flex;
  align-items: center;
  gap: 4px;
  z-index: 9999;
  margin-top: 32px;
}
.hero .container .writes .write {
  margin-top: 0px;
}

/* .hero .container .writes .writeImg1{
  width: 10px;
} */
.hero .container .writes img {
  width: 48px;
}

.hero .container .writes h2 {
  margin-bottom: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgba(0, 0, 0, 0.658);
  transition: 0.8s;
}
.hero .container .writes h2:hover {
  color: red;
  cursor: grab;
}

.swiper {
  width: 72%;
  height: 370px;
  margin-right: 30px;
  border-radius: 5px;
  box-shadow: 1px 1px 20px black;
  right: -10px;
  top: -360px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-pagination {
  background-color: wheat;
  color: darkred;
  font-size: 15px;
  padding: 0px;
  text-align: center;
}

.swiper-button-next {
  background-color: transparent;
  color: white;
  font-size: 12px;
  border-radius: 900px;
  padding: 10px;
  transition: 0.4s ease-in-out;
  box-shadow: 1px -1px 20px 5px darkred;
}

.swiper-button-next:hover {
  background: white;
  color: blue;
  box-shadow: 1px -1px 20px 10px white;
}
.swiper-button-prev:hover {
  box-shadow: 1px 1px 20px 5px white;
  color: blue;
  background-color: white;
}
.swiper-button-prev {
  color: white;
  box-shadow: 1px -1px 20px 5px darkred;
  font-size: 12px;
  border-radius: 900px;
  padding: 10px;
  transition: 0.4s ease-in-out;
  background: transparent;
}
.swiper-wrapper {
  color: red;
}
