.hero .container {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 80px;
}

.hero .container .writes {
  width: 20%;
  margin-left: 22px;
  position: absolute;
}
.hero .container .writes h2 {
  margin-bottom: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgba(0, 0, 0, 0.658);
  transition: 0.8s;
}
.hero .container .writes h2:hover{
  color: red;
  cursor: grab;
}

.swiper {
  width: 75%;
  height: 380px;
  margin-right: 30px;
  border-radius: 5px;
  box-shadow: 1px 1px 20px black;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-pagination {
  background-color: white;
  color: blue;
  font-size: 30px;
}

.swiper-button-next {
  background-color: white;
  color: purple;
  font-size: 12px;
  border-radius: 900px;
  padding: 10px;
}
.swiper-button-prev {
  background-color: white;
  color: purple;
  font-size: 12px;
  border-radius: 900px;
  padding: 10px;
}
.swiper-wrapper {
  color: red;
}
