.sellingCard {
    display: block;
}

.categorSelling button {
  padding: 4px 30px;
  color: white;
}
.sellingCard .sellingBox {
  width: 20%;
  padding: 8px;
  margin-bottom: 40px;
 display: block;
 

}
.sellingCard .sellingBox h3 {
  padding: 8px 0px;
}

.sellingCard .sellingBox .spans {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 7px;
  font-size: 18px;
}

.sellingCard .sellingBox .images {
  width: 100%;
  display: block;
  margin: 0 auto;
  object-fit: contain;
  background-color: #f5f5f5;
  padding: 12px;
  margin-bottom: 10px;
}

.sellingCard .sellingBox .images img {
  width: 70%;
  display: block;
  margin: 0 auto;
  animation: 2s ease-in-out infinite linear;
  animation-name: anim1;
  animation-duration: 4s;
}

@keyframes anim1 {
  100% {
    transform: rotateY(360deg);
  }
}

.sellingCard .sellingBox .icons {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #ffad33;
}
.sellingCard .sellingBox .icons span {
  margin-left: 14px;
  color: gray;
}
.sellingIcons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  right: 15px;
  bottom: -90px;
  font-size: 16px;
}
.sellingIcons .ruw .sellingIcon h4 {
  background-color: white;
  padding: 0px 6px;
  text-align: center;
  align-content: center;
  margin-bottom: 7px;
  border-radius: 900px;
  margin-top: 3px;
}
.sellingIcons .ruw .sellingIcon h4 .top {
  margin-top: 8px;
}
