.footer {
  background-color: black;
  color: white;
  padding: 10px;
  font-size: 18px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.footer .container {
  display: flex;
  justify-content: space-between;
}

.load .footerImg {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 0px;
}
.load .Download h4 {
  padding: 1px 0px;
}
.footer .container .Exclusive form {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid gray;
  padding: 4px 10px;
  margin-top: 5px;
}
.footer .container .Exclusive form input {
  border: none;
  outline: none;
  background: transparent;
  color: white;
}
