.signUp .container .rows {
  display: flex;
  justify-content: space-between;
}
.signUp .container .rows .info {
  width: 45%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 90px;

}

.signUp .container .rows .info form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 4px 0px;
  margin-top: 40px;
}
.signUp .container .rows .info form .btn button {
  width: 100%;
  margin: 0 auto;
  background-color: red;
  color: white;
  text-align: center;
  display: block;
  margin-right: 445px;
  padding: 13px;
  border: none;
  margin-top: 24px;
  border-radius: 6px;
}

.signUp .container .rows .info form input {
  width: 100%;
  margin-bottom: 8px;
  padding: 6px 4px;
  border: none;
  outline: none;
  font-size: 18px;
  border-bottom: 1px solid gray;
}

.signUp .container .rows .info h1 {
  font-size: 45px;
}
.signUp .container .rows .info h4 {
  font-size: 22px;
}

.signUp .container .images {
  width: 50%;
}

.signUp .container .images img {
  width: 100%;
}

.buttons .btn button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: red;
  padding: 14px 30px;
  margin: 12px 0px;
  color: white;
  border: none;
  border-radius: 5px;
}

.buttons .btn .google {
  background: transparent;
  color: black;
  border: 1px solid gray;
}
.buttons .btn .google .googleIcon{
    font-size: 20px;
    color: red;
}
