.container .rows {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom:0px;
}
.container .cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .rows .lent {
  display: flex;
  align-items: center;
  gap: 50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.container .rows .lent .row .btn1 h4 {
  color: red;
}

.container .rows .lent .row .btn1 {
  display: flex;
  align-items: center;
  gap: 10px;
}
.container .rows .lent .row button {
  background-color: red;
  padding: 20px 10px;
  margin-bottom: 10px;
  border: none;
}

.container .rows .row1 {
  display: flex;
  align-items: center;
  gap: 20px;
  text-align: center;
  margin-top: 25px;
}

.container .rows .row1 h3 {
  margin-bottom: 6px;
}
.container .rows .row1 span {
  font-size: 26px;
}

.container .rows .btns {
  display: flex;
  align-items: center;
  gap: 20px;
}
.container .rows .btns button {
  padding: 11px 12px;
  background-color: rgba(0, 0, 0, 0.349);
  border-radius: 900px;
  border: none;
}
.cards .cardBox {
  width: 20%;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 4px;
  transition: 0.5s ease-in-out;
}
.cards .cardBox:hover{
  transform: scale(1.1);
}

.cards .cardBox .image {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #f5f5f5;
  margin-bottom: 6px;
}
.cards .cardBox .image img {
  width: 80%;
  margin-top: 15px;
}

.cards .cardBox h4 {
  margin-top: 45px;

}
.cards .cardBox .spans {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}
.cards .cardBox .spans .line {
  text-decoration: line-through;
  font-size: 20px;
  margin-top: 10px;
}

.cards .cardBox .spans .red {
  color: red;
  font-size: 20px;
  margin-top: 10px;
}
.boxses {
  display: flex;
  align-items: center;
  gap: 10px;
}
.cards .cardBox .icons {
  display: flex;
  align-items: center;
  gap: 3px;
}
.cards .cardBox .icons .sakkiz {
  color: gray;
}

.cards .cardBox .icons .icon {
  color: #ffad33;
  margin-right: 3px;
}
.button {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.473);
}
.button button {
  padding: 12px 40px;
  background: #db4444;
  color: white;
  border: none;
  margin-bottom: 40px;
}
